body {
  margin: 0;
  padding: 0;
}

.dark--background {
  background-color: #0B2434;
  height: 379px;
  width: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

.white--square {
  background-color: white;
  height: 320px;
  width: 320px;
  border-radius: 10px;
  display: grid;
}

.dice--container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}

.single--die {
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  margin: 0;
  padding: 0;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
